//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 12 12:00:45 2022
//! **************************************************************************

SCHEMATIC START;
COMP "Led<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "dip<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "dip<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "dip<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "dip<3>" LOCATE = SITE "V13" LEVEL 1;
COMP "P<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "P<1>" LOCATE = SITE "F6" LEVEL 1;
COMP "P<2>" LOCATE = SITE "E4" LEVEL 1;
COMP "P<3>" LOCATE = SITE "F5" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "E13" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "C14" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "C4" LEVEL 1;
SCHEMATIC END;

